   
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root{
    --black: rgb(41, 40, 40);
    --gray: rgb(187, 184, 184);
    --blue: rgb(90,150,217) ;
    --blue-faint: rgba(90, 149, 217, 0.17) ;
    --white: whitesmoke;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 100%;
}


/*HEADER*/
.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
    background-image: url(/images/james-wainscoat-DoLb7nZvv-k-unsplash.jpg);
    position: sticky;
    top: 0;
    z-index: 1000;
    /* background-size: cover;
    background-repeat: no-repeat; */
}

.home-link{
    color: whitesmoke;
    padding: 1rem;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: whitesmoke;
}

.navigation{
    display: flex;
}
.nav-list{
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: whitesmoke;
}

.nav-item{
    font-size: x-large;
    font-weight: 600;
    margin: 0 14px;
    padding: 10px;
    color: whitesmoke;
}

.nav-link:hover{
    color: var(--black);
}

.link-active{
    color: var(--black);
}

.social-btn{
    margin-top: 3rem;
    padding: 0 2rem;
    font-size: 3rem;
}

.social-btn .link:hover{
    color: var(--black);
}

.heading{
    font-size: 1.7rem;
    width: 590px;
    margin: auto;
    display: block;
    text-align: center;
}

.heading .head-image{
    height: 300px;
    width: 300px;
    margin: auto;
}

/*CONTAINER*/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}


/*SECTION*/
.section{
    padding: 2rem;
}

.blue-section{
    background-color: var(--blue-faint);
}

.section p{
    color: var(--black);
    padding-top: 0rem;
    line-height: 1.6rem;
    text-align: left;
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mark-btn{
    padding: 0.2rem;
    background-color: var(--gray);
    border-radius: 0.5rem;
    font-weight: 540;
    font-size: 16px;
}

.link-btn{
    
    padding: 0.5rem;
    color: var(--black);
    font-size: 1.15rem;
    font-weight: 400;
}

.link-btn:hover {

    background-color: rgb(153, 151, 151);
}

.primary-link{
    background-color: var(--blue);
    border-radius: 0.5rem;
}

.secondary-link{
    border: 1px solid var(--blue);
    border-radius:0.5rem;
}


/*FOOTER*/
.footer {
    background-image: url(/images/james-wainscoat-DoLb7nZvv-k-unsplash.jpg);
    /* background-size: cover;
    background-repeat: no-repeat; */
    padding:2rem 1rem ;
    text-align: center;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
    padding-inline-start: 0px;
}

.socials{
    margin: auto;
    text-align: center;
}

.list-item-inline{
    display: inline;
}
.social-btn{
    margin-top: 3rem;
    padding: 0 2rem;
    font-size: 2.5rem;
}

.social-btn .link:hover{
    color: var(--black);
}

.footer p{
    color: var(--black);
    font-size: 1.3rem;
    font-weight: 450;
    margin: 0.3rem;
}