@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');
*{
    padding: 0rem;
    margin: 0rem;
    text-align: center;
}
:root{
    --primary-color:#538FFB;
    --dark-gray:#9CA3AF;
    --off-white:#f3f4ff;
    
}
body{
  
    font-family: 'Montserrat', sans-serif;
    margin:0 auto;
    text-align: center;
}
.section{
    width: 900px;
    margin: 0 auto;
    padding: 2.5rem 1rem;
    border-radius: 1rem;
    height: auto;

}
.section h2{
    text-align: center;
   
}
.section p{
    padding-bottom: 1rem;
}

.ow{
    
    background-color: var(--off-white);
    
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
      
}

.container-center{
    margin: 0 auto;

}

.link{
    text-decoration: none;
    padding: 0.3rem 0.7rem;

}
.link-primary{
    background-color:  var(--primary-color);
    border-radius: 1.1rem;
    color: white;
    padding: 0.6rem;
    
}

.link:hover{
    opacity: 0.8;
}
.project-date{
    text-align: center;
    padding-left: 1rem;
    padding-top: 0.6rem;
    margin-bottom: 1rem;

}

.link-secondary{
    border: 1px solid;
    border-radius: 1rem;
    color: var(--primary-color);
    margin-left: 0.6rem;
    padding: 0.5rem;
     
}

.list-non-bullets {
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0.5rem 0rem;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    border-bottom-left-radius: 1rem;
    
}

.navigation .link{
    color: white;
}

.navigation .nav-link{
    text-align: right;
}

.navigation .link-active{
    font-weight:bold;
}
.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
   
}

.hero{
    padding: 3.5rem;
    
}

.hero .hero-img{
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    color: var(--dark-gray);
    text-align: center;
    padding-top: 1rem;
}

.hero-heading .inverted{
    color: var(--primary-color);
    text-align: center;
}

.footer{
    background-color: var(--primary-color);   
    padding: 1rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    margin-top: 2rem;
}

.footer .footer-header{
    font-size: large;
    padding-bottom: 0.7rem;
    
}
.footer .link{
    color:white;
}

.footer ul{
    padding-inline-start:0px;
    
}

.text-center{
    text-align: center;
}

.social-icon{
    
    height: 2.2rem;
    width: 2.2rem;
    opacity: 1;
}

.social-icon:hover {
    opacity: 0.9;
}

hr{
    margin: 0.7rem 0.5rem;
    border-style: none;
}

@media (max-width: 900px) {
    body {
      max-width: 95%;
      width:auto;
    }
  
    .section{
      width: auto; 
    }
  
} 